<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <a href="{%url 'root'%}">Домой</a>
  <br>
    {% if data.name %}
      <h1>Привет, {{data.info}}!!!</h1>
    {% else %}
      <h2>Привет, гость!</h2>
    {% endif %}
  </body>
  <div>
    <ul>
    {% for key,value in month.items %}
    <li>{{value}}</li>
    {% endfor %}
    </ul>
  </div>
</html>
<!-- p.red.btn^div#sharp^div#id$*3^a[name=red]{Hello}^div#new>p{Lorem!}*3 -->
